
.social_icons {
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem;
}
.socialIcon{
    color:rgb(var( --color-blue));
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
}