.projects-container{
    width:90%;
    margin:auto;
    text-align:center;
    padding-bottom: 8rem;
}
.projectImage{
    height: 15rem;
    width:100%;
    border-radius:1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;

    &:hover{
        opacity: 0.5;
    }
}
.project-cards{
    display:flex;
    padding:1rem;
    font-size:1.3rem;
    line-height:1.5rem;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    text-align:center;
}

.card-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // gap: 4rem;
        flex-wrap: wrap;
        padding:1rem;
        margin: auto;
        // width: 90%;
    }

.card{
        position: relative;
        width: 20rem;
        height: 24rem;
        background: rgb(var(--color-green));
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
    }
.card-imgBox, .card .card-textBox{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

.card-imgBox{
        background: rgb(var(--color-grey-primary));
        height: 8rem;
        z-index: 1;
        transform-origin: bottom;
    }
.projects-container .card:hover .card-imgBox{
        transform: translateY(-100%) rotateX(90deg);
    }
.card-imgBox::before{
    content: '';
    position: absolute;
    bottom: -3.3rem;
    left: 50%;
    transform: translate(-50%);
    width: 9rem;
    height: 4.6rem;
    background: rgb(var(--color-grey-primary));
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    z-index: 1;
}
.card-textBox{
    height: 17.5rem;
    width: 100%;
    border-top: 0.5rem solid rgb(var(--color-green));
    transform-origin: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
.projects-container .card:hover .card-textBox{
        transform: translateY(100%) rotateX(90deg);
    }

.card-textBox::before{
    content: '';
    position: absolute;
    top: -1.7rem;
    width: 10rem;
    height: 5rem;
    background: rgb(var(--color-green));
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.icon-imgBox{
    position: relative;
    top: 40px;
    height: 6rem;
    z-index: 1;
}

.card-content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.card-topic{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
    color: rgb(var(--color-blue))

}
.card-text{
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 3rem;
    color: rgb(var(--color-grey-primary))
}