.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

$columns: 12;
// $column-base-width: 100%/$columns;

// @for $i from 1 through $columns {
//   .col-#{$i} {
//     width: $column-base-width * $i;
//   }
// }

[class*='col-'] {
min-height: 1px;
// width: $column-base-width;
padding: 12px;
}

@media (max-width: 950px) {
[class*='col-'] {
  width: 100%;
}
}

@media (min-width: 951px) {
[class*='col-'] {
  width: 30%;
}
}